html{
    background-color: white;
    font-size: 120%;
    height: 100%;
}
.logo{
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 10em;

}
body{

    color: black;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10em;
    position: relative;
    height: 100%;
    
}
.seletores{

    padding-left: 25%
}
.seletores select{
    text-align-last: center;
    margin: 0;
    position: relative;
    border-radius: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.caixa {
    background-color: white;
    width: 50em;
    height: 5em;
    display: flex;
    margin: 10%;
}
.ofertasName{
    display: inline-flex;
    padding-left: 23.5%;
    padding-right: 25%;

}
.ofertasName div{
    margin: 1em;
    max-width: 10em;
    position: relative;
    min-width: 10em;
    border: 2px solid #fff;
    text-align: center;
    
}
.ofertas{
    display: inline-flex;
    padding-left: 23.5%;
    padding-right: 25%;
    height: 10em;
    color: blueviolet;
}

.ofertas div {
    margin: 1em;
    max-width: 10em;
    position: relative;
    min-width: 10em;
    border: 1px solid gray;
    border-radius: 1em;
    text-align: center;
}

    

