html{
    background-color: rgba(226, 226, 226, 0.397);
    font-size: 120%;
    height: 100%;
}
.logo{
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 10em;
}
body{

    color: #0b0c3f;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1em;
    position: relative;
    height: 100%;
}
.seletores div{
    display: table;
    margin: 0 auto  
}

.seletores select {
    
    background-color: #f1e0e023;
    text-align-last: center;
    margin: 0.25em;
    border-radius: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.case {
    width: 50em;
    height: 5em;
    display: flex;
    margin: 10%;
}
.smallCase{
    display: inline-block;
    width: 24.75em;
    height: 5em;
}
.bonusOffer{
    display: table;
    margin: 0 auto;
}
.bonusOffer div{
    display: inline-block;
    margin: 1em;
    font-family: 'Open Sans','Arimo','Roboto', sans-serif;
    font-size: 90%;
}
.offerAdditional{
    display: table;
    margin: 0 auto;
}
.offerAdditional div{
    display: inline-block;
    margin-top: 1em;
    margin: 0.25em;
    font-family: 'Open Sans','Arimo','Roboto', sans-serif;
    font-size: 80%;
}
#botaoEnvia{
    
    display: table;
    margin: 0 auto;
    padding-top: 10%;
}
.validePass{
    color: green;
    font-size: 180%;
    display: table;
    margin: 0 auto;
    padding-top: 2.5%
}
.invalidPass{
    color: red;
    font-size: 180%;
    display: table;
    margin: 0 auto;
    padding-top: 2.5%
}
#validateResult{
    display: table;
    margin: 0 auto;
    padding-top: 2.5%;

}



    

